body {
    font-family: 'Russo One', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }

header {
    display:flex;
    justify-content: center;
    background-color: #606060;
    border-bottom: 10px solid darkgray;
    border-top: 10px solid darkgray; 
  }

  nav {
    display: flex;
    justify-content: flex-end;
    background-color: #770B2D;
  }

   a  {  
    color: #E0CC5F;
    padding: 20px 25px;
  }

main {
    display: flex;
    flex-direction: wrap;
    margin: 50px;
    padding:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    
}

footer {
  background-color: #606060;
  width: 100%;
  bottom: 0;
}

form {
  height: 100%;
}

  h1 {
    text-align: center;
    color: #E0CC5F;   
  }

  .infocard {
    border-style: solid;
    border-color: #770B2D;
    border-width: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px lightgray;
    padding: 10px;
    margin: 20px;
    background-color: #606060;
    flex:0 0 375px;
  }

  .infocard header {
    color: #E0CC5F;
  }

  .infocard p {
    text-align: center;
    color: #E0CC5F;
  }

  .infocard img {
    width: 100%;
  }

  
  .contact {
    display:flex;
    justify-content: flex-start;
    width: 400px;
    height: 40px;
    margin-top: 10px;
    border: 5px solid #770B2D;
    border-radius: 15px;
  }

  .inputfield2 {
    display: flex;
    justify-content: flex-start;
    width: 400px;
    height: 150px;
    margin-top: 10px;
    border: 5px solid #770B2D;
    border-radius: 15px;
  }

  form h2 {
    text-align: center;
    color: #E0CC5F;
  }

  #button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: #770B2D;
    margin-top: 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
    }
    
  }


